@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '._idroid';
    src: url('__MACOSX/fontes/._idroid.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(121, 248, 131, 0.603);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to bottom, #1BF087, #16C56D, #12A35B, #0E8148, #0A5F35);

    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.247);

    height: 150px;

    margin-top: -20px;
    

    width: 100%;
}
header > h1 {
    font: normal bold 2em arial;
    margin-top: 20px;
    text-align: center;
    padding: 30px 0px 0px 0px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.669);
    
}
header > p {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.669);
    text-align: center;
    margin-top: 8px;
    
    
}

nav {
    padding: 10px;
    background-color: #0A5F35;
    margin-bottom: 0px;

}

nav > a {
    text-decoration: none;
    font: normal bold 0.90em arial;
    color: white;
    transition-duration: 0.5s;
    border-radius: 10px;
    padding: 10px;
}
nav > a:hover {
    background-color: #034924;
    color: #16C56D;
    
}

main {
    background: white;
    min-width: 320px;
    max-width: 800px;
   
    margin: auto;
    padding: 0px 20px 0px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.464);
    border-radius: 0px 0px 10px 10px;
}

main img {
    
    width: 100%;
}
article > h1{
    font: normal bold 1.5em 'idroid';
    color: #247c4d;
    padding: 10px 0px 0px 10px;
    
}
.fonte {
    font: normal bold 1.5em 'idroid';
    color: #247c4d;
    background-image: linear-gradient(to right, #1bf085ac, transparent);
    border-radius: 10px;
    text-indent: 8px;
}
 main p {
    line-height: 1.6em;
    text-align: justify;
    text-indent: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

div {
    background-color: #0b4e2a;

   margin: 30px -20px 30px -20px;

   padding: 60px;
   padding-bottom: 51.5%;
    
   position: relative;
    
}

iframe {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.689);
    
}


.bugdroid {
    display: block;
    margin: auto;
    max-width: 350px;
    
}
.quers {
    background-color: #abf5d0cb;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137);
    padding: 10px;
    margin-top: 10px;
    border: 5px solid #1ea863;
}
.quers > h2 {
    margin: -15px -10px 0px -10px;
    padding: 10px;
    text-indent: 10px;
    font: normal bold 1.3em '._idroid';
    color: white;
    background: #1ea863;
    
    border-radius: 5px 5px 0px 0px;
}
.quers > ul {
    display: inline-block;
    list-style: inside;
    margin-top: 10px;
    margin-bottom: 10px;
}
aside {
    margin: 20px 0px 0px 0px;
    text-indent: 20px;
    padding-bottom: 20px;
    text-align: justify;
}
footer {
    background-color: #0b4e2a;
    margin-top: 20px;
    text-align: center;
    color: rgb(223, 222, 222);
    font: normal normal 0.75em arial;
    padding: 5px;
}
footer > strong {
    color: white;
}
strong {
    color: #247c4d;
}
.link {
    text-decoration: none;
    color: #247c4d;
    font-weight: bolder;
    padding: 0px 3px;
}

.link:hover {
    text-decoration: underline;
    color: #16C56D;
}

.link::after {
    content: '\00A0\1F517';
}